# Data used to train the models
datasets/data/to_predict/
datasets/data/test/
datasets/data/train/

# Evaluation results
evaluation/

# The models
models/

## Python
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Byte-compiled / optimized / DLL files
.DS_Store