## Python
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

/runs

/datasets/data/test

/datasets/data/train

/datasets/data/to_predict

/datas

# Byte-compiled / optimized / DLL files
.DS_Store

/models

src/mlopps-bucket-service-account-file.json

